@import '../../../../assets/styles/abstracts/variables.scss';

.Contact {
  padding: 3rem 8rem;
  background-color: #f9f6f7;
  text-align: center;

  h1 {
    color: $google-blue-dark;
    margin-bottom: 4rem;
    letter-spacing: 0.8px;
    font-size: 26px;
    font-weight: 800;
  }
}

textarea.form-control,
input.form-control {
  border: 1px solid $google-grey;
  height: 32px;
  width: 100%;
  font-size: 14px;
  outline: none;
  padding-left: 16px;
  background-color: $white;
  border-radius: 5px;
}

textarea.form-control {
  height: 120px !important;
}

input.btn.btn-primary {
  background-color: #325288;
  font-size: 16px;
}

form#contact {
  color: $google-blue;
}

@media (max-width: 900px) {
  .Contact {
    padding: 3rem 2rem;
  }
}
