@import '../../../../assets/styles/abstracts/variables.scss';

.About {
  padding: 3rem 12rem;

  h1 {
    color: $google-blue-dark;
    margin-bottom: 2rem;
    letter-spacing: 0.8px;
    font-size: 26px;
    font-weight: 800;

    span {
      font-weight: 500;
    }
  }

  div {
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.8px;
    line-height: 28px;
    color: $google-blue-dark;
    text-align: left;
  }
}

@media (max-width: 900px) {
  .About {
    padding: 3rem 4rem;
  }

  h1 {
    font-size: 20px !important;
  }

  div {
    font-size: 16px !important;
  }
}
