@import '../../../../assets/styles/abstracts/variables.scss';

.ListComputer {
  padding: 3rem 12rem;
  background-color: #ffe268;
  text-align: center;

  h1 {
    color: $google-blue-dark;
    margin-bottom: 2rem;
    letter-spacing: 0.8px;
    font-size: 22px;
    font-weight: 800;
  }

  .listItemsComputer {
    text-align: initial;
    color: $google-blue-dark;
    font-size: 18px;
    letter-spacing: 0.8px;
    margin-top: 40px;

    ul {
      list-style-type: decimal;

      li {
        padding-left: 16px;
        margin: 16px;
      }
    }
  }
}

@media (max-width: 900px) {
  .ListComputer {
    padding: 3rem 4rem;
  }

  h1 {
    font-size: 20px !important;
  }
}
