@import '../../../../assets/styles/abstracts/variables.scss';

.Companies {
  background-color: $google-blue;
  padding: 3rem 12rem;

  h1 {
    color: $white;
    margin-bottom: 4rem;
    letter-spacing: 0.8px;
    font-size: 26px;
    font-weight: 800;
  }

  .center-items {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  img {
    width: 200px;
  }
}

@media (max-width: 900px) {
  .Companies {
    padding: 3rem 4rem;
  }

  h1 {
    font-size: 20px !important;
  }
}
