@import '../../assets/styles/abstracts/variables.scss';

.DetailCourse {
  &--Details {
    padding: 3rem 26rem;
    color: $google-blue-dark;
    margin-top: 18px;

    h2 {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .paragraph {
      font-size: 18px;
      letter-spacing: 0.8px;
    }
  }

  &--Info {
    padding: 3rem 26rem;
    color: $google-blue-dark;
    margin-top: 18px;
    text-align: center;

    h1 {
      color: $google-blue-dark;
      margin-bottom: 2rem;
      letter-spacing: 0.8px;
      font-size: 22px;
      font-weight: 800;
    }

    .InfoItems {
      text-align: left;

      ul {
        list-style-type: decimal;
        li {
          padding-left: 16px;
          margin: 16px;
        }
      }
    }
  }

  @media (max-width: 900px) {
    &--Details {
      padding: 3rem 4rem;
    }

    &--Info {
      padding: 3rem 4rem;
    }
  }
}
