@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '../../../../assets/styles/abstracts/variables.scss';

.Testimonials {
  background-color: $google-blue;
}

.wrapper {
  background-color: $google-blue;
  padding: 4rem;
  height: 50rem;
}

.wrapper .content {
  padding: 10px;
  cursor: pointer;
}

.testimonial {
  height: 10rem;
  padding: 20px 40px;
  position: relative;
}

.fa-quote-left {
  position: absolute;
  top: -15px;
  left: -6px;
  font-size: 2rem;
  color: $google-yellow;
}

.fa-quote-right {
  position: absolute;
  bottom: -15px;
  right: -6px;
  font-size: 2rem;
  color: $google-yellow;
}

.employee {
  margin-bottom: 40px;
  padding-left: 30px;
}

.h3 {
  margin: 0;
}

.carousel-indicators {
  bottom: -100px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.text-uppercase {
  font-size: 20px;
}

.text-jusitfy {
  font-weight: 700;
}

.text-mute {
  color: $google-yellow;
  font-size: 16px;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 80px 50px;
    margin: 50px 10px;
  }

  .carousel-indicators {
    bottom: -80px;
  }
}

@media (max-width: 420px) {
  .wrapper {
    padding: 40px 20px;
    height: 66rem;
  }

  .testimonial {
    height: 32rem;
  }

  .carousel-indicators {
    bottom: -45px;
  }

  .employee {
    margin-bottom: 40px;
    padding-left: 15px;
  }
}

.bg-white {
  background-color: transparent !important;
}

.text-dark {
  color: $white !important;
  font-size: 16px;
  font-style: italic;
}

.img-profile {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}
