@import '../../../../assets/styles/abstracts/variables.scss';

.ListToLearn {
  padding: 3rem 12rem;
  background-color: $white;
  text-align: center;

  h1 {
    color: #009970;
    margin-bottom: 2rem;
    letter-spacing: 0.8px;
    font-size: 22px;
    font-weight: 800;
  }

  .listItemsToLearn {
    text-align: initial;
    color: #009970;
    font-size: 18px;
    letter-spacing: 0.8px;
    margin-top: 40px;

    ul {
      list-style-type: decimal;

      li {
        padding-left: 16px;
        margin: 16px;
      }
    }
  }
}

@media (max-width: 900px) {
  .ListToLearn {
    padding: 3rem 4rem;
  }

  h1 {
    font-size: 20px !important;
  }
}
