*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

@import './assets/styles/abstracts/variables.scss';

.green {
  color: $google-green;
}

.grey {
  color: grey;
}

.blue {
  color: $google-blue;
}

.paragraph {
  margin-bottom: 18px;
}

.container-fluid-max {
  max-width: 1440px;
}

.cover {
  background: no-repeat center/cover;
}
