//colors

//black
$black: #000;

//white
$white: #fff;

//blue
$google-blue: #3369e8;
$google-blue-dark: #325288;
$google-blue-light: #77acf1;

//green
$google-green: #009925;
$google-green-dark: #009970;
$google-green-light: #8fd9a8;

//grey:
$google-grey: #d8e3e7;

//red
$google-red: #d50f25;

//yellow
$google-yellow: #eeb211;

//sizes
