//colors

//black
$black: #000;

//white
$white: #fff;

//blue
$google-blue: #3369e8;
$google-blue-dark: #3369ff;

//green
$google-green: #009925;
$google-green-dark: #009970;

//red
$google-red: #d50f25;

//yellow
$google-yellow: #eeb211;

//sizes
